*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family:'Montserrat' sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: rgb(1, 208, 255);
    justify-content: space-around;
    /*padding: 20px 0; */
    color:  whitesmoke;
    height: 65px;
    align-items: center;
    
}

nav .logo {
    font-family:'Pacifico', cursive;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover{
    color:black;
    cursor: cursor;
}
/*hamburger menu*/
.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;

}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color:whitesmoke;
    border-radius: 3px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: whitesmoke;
    border-radius: 3px;
    transition:all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~span:nth-child(2){
    background-color: white;
   transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~span:nth-child(4){
    background-color: white;
   transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~span:nth-child(3){
    opacity: 0;
   transform: scale(0);
}

.home{
    display: flex;
    background: url("latar.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Pacifico', cursive;
}

.home .home-content .text-1{
    font-size: 20px;
}


.home .home-content a{
    margin-left: 0;
    font-size: 25px;
    padding: 10px 10px;
    margin-top: 10px;
    font-weight: 400;
    border-radius: 1px;
    border: 2px aqua;
   
}
.home .home-content a:hover{
    color: aqua;
    background: none;
}
/*ukuran tablet*/
@media screen and (max-width: 768px) {
    nav ul {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    .menu-toggle{
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgb(1, 208, 255);
       
        transform: translateX(100%);
    }   
}

nav ul.slide{
    transform: translateX(0);
    transition: all 1s;
}




footer{
    background: rgb(1, 208, 255);
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color:white;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
 
.profil{
    display: flex;
    margin-left: 400px;
    text-align: left;
    font-size: 35px;
}

.pendidikan {
    margin-left: 400px;
}